---
import Layout from "../layouts/Layout.astro"
const skills = ['python', 'excel']
import Quote from "../components/Quote.astro";
---
<Layout title="kengyn" description="Ken's personal website and blog.">
  <div class="w-full flex justify-center md:py-8 flex-col items-center gap-2">

    <div class="md:w-2/3 py-4 px-4 w-full lg:w-1/2 flex-col">
      <div class="flex flex-wrap gap-4 items-end justify-between">
      <div class="flex gap-4 items-center">
      <img src="https://avatars.githubusercontent.com/u/108902777?v=4" alt="pfp" class="h-12 w-12 rounded-full border-[1px]	border-fg">
    <h1 class="text-3xl text-left text-fg self-end">Kenneth Nguyen</h1>
    <h1 class="text-lg text-gray-500 text-left self-end">he/him</h1>
      </div>
      <p class="text-lg text-gray-500">kengyn</p>
      </div>
      <p class="mt-8 text-[20px] text-bright">I am a bachelors student attending Lamar University studying accounting. In my free time, I like to work on my home lab and test open source projects I find on the internet. </p>
      <div class="mt-8 h-[2px] px-16 bg-bg3 inline-block"></div>
      <h1 class="text-2xl text-fg mt-8 mb-2"><span class="text-gray-500">Work</span> Experience</h1>
      <ul class="list-decimal leading-[2.6rem] list-inside mt-4 text-[18px] text-bright">
        <h2 class="text-fg">Super Nails: Assistant Manager</h2>
        <p class="text-bright">Support manager in overseeing daily operations including bank reconciliation reviews and cash closing activities</p>
      <div class="mt-8 h-[2px] px-16 bg-bg3 inline-block"></div>
      <h1 class="text-2xl text-fg mt-8 mb-2"><span class="text-gray-500">Skill</span> Set</h1>
      <div class="flex flex-wrap gap-4">
        {skills.map((i, j) => {
            return <p class="mt-2  bg-mbg text-fg px-4 py-2 rounded-md">{i}</p>
        })}
      </div>
      <div class="mt-8 h-[2px] px-16 bg-bg3 inline-block"></div>
      <h1 class="text-2xl text-fg mt-8 mb-2"><span class="text-gray-500">My</span> Setup</h1>
      <ul class="list-decimal leading-[2.6rem] list-inside mt-4 text-[18px] text-bright">
        <li>PC <span class="text-fg">Dell Optiplex</span><span class="text-primary"> Arch Linux</span></li>
        <li>Server <span class="text-fg">HP EliteDesk 800 G4 Mini</span><span class="text-amber-600"> Proxmox</span></li>
        <li>Server <span class="text-fg">Lenovo M920q Tiny</span><span class="text-amber-600"> Proxmox</span></li>
        <li>Router <span class="text-fg">Intel N100 Celeron N5105</span><span class="text-amber-600"> OPNSense</span></li>
        <li>Switch <span class="text-fg">TP-Link 8-port Managed Switch</span></li>
      </ul>
      <div class="mt-8 h-[2px] px-16 bg-bg3 inline-block"></div>
      <!--<h1 class="text-2xl text-fg mt-8 mb-2"><span class="text-gray-500">Testimonial</span></h1>-->
      <!--<Quote/>-->
    </div>
</Layout>
