---
import Layout from "../layouts/Layout.astro"
import Project from "../components/Project.astro"

const web = [
  {
    name: 'memory-card',
    desc: 'Memory card game to learn and practice react hooks',
    tech: [{ name: 'react', color: 'bg-teal-300' }, { name: 'javascript', color: 'bg-blue-300' }]
  },
  {
    name: 'shopping-cart',
    desc: 'a shopping page with store front and shopping cart',
    tech: [{ name: 'react', color: 'bg-teal-300' }, { name: 'javascipt', color: 'bg-blue-300' }]
  },
  {
    name: 'etch-a-sketch',
    desc: 'Etch a Sketch built to strengthen my JavaScipt fundamentals',
    tech: [{ name: 'javascript', color: 'bg-teal-300' }]
   },
]


const projects = [
    {
    title: "Web Development",
    projects: web
    }
  ]
---
<Layout title="Projects and Stuff" description="List of personal projects">
      <div class="text-slate-50  p-2 sm:p-8 md:p-8 lg:px-8 lg:p-8 text-lg leading-10">
        <section class="mt-2 md:mt-10 flex flex-col items-center justify-center w-full">
          <h1 class="text-2xl sm:text-3xl  font-bold ms:my-8 my-2 mb-4 px-8 text-gray-500 text-center sm:text-left">Web  <span class="text-fg">Development</span></h1>
          <div class="flex flex-wrap w-full lg:w-1/2 md:w-2/3">
            {web.map(i => (
              <Project name={i.name} desc={i.desc} tech={i.tech} />
            ))}
          </div>
        </section>
      </div>
</Layout>
